body {
    background: linear-gradient(to right, #4888d0, #2f2a74);
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    margin: 50px auto;
}

.navbar {
    background: linear-gradient(to right, #4873d0, #2f2a74);
    border-bottom: 2px solid #fff;
}

.navbar-brand {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    transition: color 0.3s; 
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-brand:hover {
    color: #c8ff00; 
}

.fila {
    gap: 20px;
}

.form-control {
    background: linear-gradient(to right, #f0f0f0, #ffffff);
    color: #000000;
    border: 2px solid #39c2bb;
    border-radius: 8px;
}

.btn-primary {
    background: linear-gradient(to right, #4873d0, #2f2a74);
    color: #fff;
    border: 2px solid #39c2bb;
    border-radius: 8px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background: linear-gradient(to right, #4873d0, #2f2a74);
    border-color: #39c2bb;
}

@media (max-width: 768px) {
    body {
        background: linear-gradient(to right, #3d5a7f, #272553);
        color: #fff;
    }

    .container {
        margin: 20px auto;
    }

    .navbar {
        background: linear-gradient(to right, #3d5a7f, #272553);
        border-bottom: 2px solid #fff;
    }

    .navbar-brand {
        font-size: 28px;
        font-weight: bold;
    }

    .fila {
        flex-direction: column;
        gap: 10px;
    }

    .form-control {
        background: linear-gradient(to right, #333, #111);
        color: #fff;
        border: 2px solid #557c92;
        border-radius: 8px;
        margin-top: 10px; 
    }

    .btn-primary {
        background: linear-gradient(to right, #557c92, #443f5e);
        color: #fff;
        border: 2px solid #557c92;
        border-radius: 8px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 10px;
    }

    .btn-primary:hover {
        background: linear-gradient(to right, #443f5e, #557c92);
        border-color: #557c92;
    }
}

@media (max-width: 600px) {
    body {
        background: linear-gradient(to right, #3d5a7f, #272553);
        color: #fff;
    }

    .container {
        margin: 20px auto;
    }

    .navbar {
        background: linear-gradient(to right, #3d5a7f, #272553);
        border-bottom: 2px solid #fff;
    }

    .navbar-brand {
        font-size: 28px;
        font-weight: bold;
    }

    .fila {
        flex-direction: column;
        gap: 10px;
    }

    .form-control {
        background: linear-gradient(to right, #333, #111);
        color: #fff;
        border: 2px solid #557c92;
        border-radius: 8px;
        margin-top: 10px;
    }

    .btn-primary {
        background: linear-gradient(to right, #557c92, #443f5e);
        color: #fff;
        border: 2px solid #557c92;
        border-radius: 8px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 10px;
    }

    .btn-primary:hover {
        background: linear-gradient(to right, #443f5e, #557c92);
        border-color: #557c92;
    }
}
