body {
    background: linear-gradient(to right, #d0484f, #742a40);
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}

.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100%;
}

.producto-card {
    display: inline-block;
    width: calc(25% - 20px);
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    background: linear-gradient(to right, #e4dcdf, #dabbc0);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.producto-card img {
    max-width: 100%;
    max-height: 150px;
}

.producto-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifS;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0;
    color: #333;
}

.producto-description {
    font-size: 14px;
    color: #555;
}

.producto-price {
    font-weight: bold;
    font-size: 20px;
    color: #f00;
}
.container-fluid {
    background: linear-gradient(to right, #d0484f, #742a40);
    color: #fff; 
    padding: 20px;
    text-align: center; 
    font-size: 18px;
}
.navbar{
    background: linear-gradient(to right, #d0484f, #742a40);
}
.navbar-brand {
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    transition: color 0.3s; 
}

.navbar-brand:hover {
    color: #c8ff00; 
}

.footer {
    background: linear-gradient(to right, #d0484f, #742a40);
    color: #fff;
    padding: 15px 0;
    width: 81%;
    text-align: center;
    margin: 0 auto;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    body {
        background: linear-gradient(to right, #c04f51, #402a74);
        color: #fff;
    }

    .productos-container {
        justify-content: center;
    }

    .producto-card {
        width: calc(50% - 20px);
        background: linear-gradient(to right, #dfdcdf, #dabbc0);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .producto-title,
    .producto-description,
    .producto-price {
        color: #fff;
    }

    .container-fluid {
        background: linear-gradient(to right, #c04f51, #402a74);
        color: #fff;
    }

    .navbar {
        background: linear-gradient(to right, #c04f51, #402a74);
    }

    .navbar-brand {
        color: #c8ff00;
        font-size: 28px;
        font-weight: bold;
    }

    .footer {
        background: linear-gradient(to right, #c04f51, #402a74);
        color: #fff;
    }

    .footer a {
        color: #c8ff00;
    }

    .footer a:hover {
        text-decoration: underline;
    }
}
