* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url('/img/fondo.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(156, 145, 145, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 30px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: 600;
    display: block;
    color: #fff;
}

.form-control {
    width: 80%;
    padding: 10px;
    border: 1px solid rgb(0 0 0);
    border-radius: 5px;
}

.form-text {
    font-size: 12px;
    color: #ffffff;
    margin-top: 5px;
}

.form-check-label {
    font-size: 14px;
}

.btn-primary {
    margin: 0 auto; 
    background-color: #007bff;
    color: #fff;
    border: 1px solid rgb(250, 250, 250);
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center; 
    width: 80%;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.success-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
  }
  
  .icon-checkmark {
    fill: #FFFFFF;
    width: 50px;
    height: 50px;
  }

  @media (max-width: 768px) {
    .container {
        width: 100%;
        max-width: 100%;
        padding: 20px;
        border-radius: 0;
        transition: max-width 0.5s; 
    }

    h2 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .form-control {
        padding: 10px;
    }

    .btn-primary {
        padding: 10px;
        border-radius: 0;
    }

    .success-message {
        padding: 15px;
    }

    .icon-checkmark {
        width: 40px;
        height: 40px;
    }
}